body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* GLOBAL */
* {
  box-sizing: border-box;
}
body {
  background: #f1f1f1;
}
.detail__content {
  position: absolute;
  top: 505px;
  left: 250px;
  width: 450px;
  height: 110px;
  font-size: 20px;
}
.detail {
  border: none;
}
.glass-img {
  position: absolute;
  top: 230px;
  left: 375px;
  width: 200px;
  height: 80px;
}

@media screen and (max-width: 1440px) {
  .glass-img {
    left: 23.3%;
  }
  .detail__content {
    left: 14.2%;
  }
}

@media screen and (max-width: 1200px) {
  .glass-img {
    left: 18%;
  }
  .detail__content {
    left: 7.2%;
  }
}

